/*============ Ventas ============*/
.datos_venta, .title_page{
	width: 100%;
	max-width: 900px;
	margin-bottom: 10px;
    padding: auto;
    text-align: center;


    
}
.datos_cliente{
    width: 100%;
	max-width: 900px;
	margin-bottom: 0px;
    padding: auto;
    background-color:rgb(252, 134, 55);
}

tr{
    background-color: rgb(252, 134, 55);
    border:10px solid black;
}

a{
    width: 100%;
    padding-right: 5px;
    padding-left: 30px;
}
body{
    background: white;


}

h1{
    background-color: white;
}
h2 {
    border: 1px solid rgb(255, 102, 46);
    margin-left: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 0px;
    font-size: 22px;
    background: rgb(255, 102, 46);
    color: rgb(255, 255, 255);
    margin:0px;

}
h4{
    border:2px solid #78909C;
    text-align: center;
    background-color: rgb(252, 134, 55);
}
/* menu */

#menu ul {
    list-style:none;
    padding-left: 10px;
    padding:0;
    overflow: visible;
    margin:0px;
    background-color: #2e518b;
    padding-right: 500px;
   }
   
   /* items del menu */
   
   #menu ul li {
    background-color:#2e518b;
    
   }
   
   /* enlaces del menu */
   
   #menu ul a {
    display:block;
    color:#fff;
    text-decoration:none;
    font-weight:400;
    font-size:15px;
    padding:16px;
    font-family:Arial, Helvetica, sans-serif;
    
    letter-spacing:1px;
   }
   
   /* items del menu */
   
   #menu ul li {
    position:relative;
    
    float:left;
    margin:0;
    padding:0;
   }
   
   /* efecto al pasar el ratón por los items del menu */
   
   #menu ul li:hover {
    background:#5b78a7;
   }

/* menu desplegable */

#menu ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    
    background:#5b78a7;
    padding:0;
   }
   
   /* items del menu desplegable */
   
   #menu ul ul li {
    float:none;
    width:230px
   }
   
    
   /* enlaces de los items del menu desplegable */
   
   #menu ul ul a {
    line-height:120%;
    padding:10px 15px;
   }
   
   /* items del menu desplegable al pasar el ratón */
   
   #menu ul li:hover > ul {
    display:block;
   }
fieldset{
    width: 50%;
    right: 20px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;

}
.imagen{
    
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position:absolute;

    margin-top: 210px;
    margin-left: 840px;
}

* {
    box-sizing: border-box;
}


#detalle_venta tr{
	background-color: #FFF !important;
    padding: 10px;

}
#detalle_venta td{
	border-bottom: 1px solid #CCC;
}
.datos{
	background-color: white;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 2px solid #78909C;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
.action_cliente{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}

.datos label{
	margin: 5px auto;
    margin-top: 5px;
    margin-bottom: 5px;
}
.wd30{
	width: 30%;
    margin-top: 0px;
    padding: 10px;
    padding-right: 2px;
    padding-top: 1px;
    display: inline-grid;
    justify-items: stretch;
}

.wd50{
	width: 60%;
    display: contents;
}
.wd100{
    width: 50%;
}

#div_registro_cliente, #add_product_venta{
	display: none;
}
.displayN{
	display: none;
}
.tbl_venta{
	max-width: 900px;
	margin: auto 3,6;
    border: solid #78909C;
    margin-right: auto;
    margin-left: auto;
    padding-top: inherit;
    padding-bottom: inherit;
    padding-left: initial;
    border-spacing: revert;
    width: 750px;
}
.tbl_venta tfoot td{
	font-weight: bold;
    text-align: end;
}
.textright{
	text-align: right;
}
.textcenter{
	text-align: center;
}
.textleft{
	text-align: left;
}
.btn_anular{
	background-color: #bdbaba;
	border: 0px;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px;
	margin: 0 3px;
	color: #FFF;
}
